:root {
  --primarycolor: rgba(216, 100, 213, 0.5);
  --gap: 20px;
  --font-size: 16px;
}


body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
}

.header{
    grid-area: header;
}

.title {
    grid-area: title;
}

.main-nav {
    grid-area: nav;
}

.hero {
    grid-area: hero;
}

.footer {
    grid-area: footer;
}

.image-section{
    grid-area: image;
}

.wrapper {
  display: grid;
  gap: var(--gap);
  grid-template-areas:
    "header"
    "hero"
    "image"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "hero image"
      "footer footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

header{
    background-color: var(--primarycolor);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title nav";

}

.image-section img {
    max-width: 100%;
    height: auto;
}

footer {
    height: 50px;
    width: 100%;
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
}

#footertext {
    margin-left:20px;
}