:root {
  --primarycolor: rgba(216, 100, 213, 0.5);
  --colorneutral: rgba(216, 100, 213, 0.6);
  --colorhighlight: rgba(216, 100, 213, 0.8);
  --accentcolor: #b1ddf1;
  --gap: 20px;
  --font-size: 16px;
  scroll-behavior: smooth;
}


body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
    height: 100%;
}


h1{
    font-size: 4rem;
    font-weight: 600;
}

.hero h2, .about h2{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: 3.5rem;
}

.header{
    grid-area: header;
}

.title {
    grid-area: title;
    margin-left: 25px;
}

.linebreak{
    display: none;
}

.main-nav {
    grid-area: nav;
}

.hero {
    grid-area: hero;
    height: auto;
    max-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.footer {
    grid-area: footer;
}

.image-section{
    grid-area: image;
}

.contact-form{
    grid-area: contact;
}

.ham-menu{
    grid-area: ham;
}

.intro{
    grid-area: intro;
}
.images{
    grid-area: images;
}
.quote1{
    grid-area: quote1;
}
.quote2{
    grid-area: quote2;
}
.quote3{
    grid-area: quote3;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.subtitle{
    grid-area: subtitle;
}
.emptydiv{
    grid-area: emptydiv;
}

.wrapper {
  display: grid;
  gap: var(--gap);
  min-height: 100%;
}

.index .wrapper{
    grid-template-areas:
    "header"
    "hero"
    "image"
    "footer";
}

html{
    height: 100%;
}
.contact{
    height: 100%;
}
.contact .wrapper {
    grid-template-areas: 
    "header"
    "contact"
    "footer";
    min-height: 100%;
}

.about .wrapper{
    grid-template-areas:
    "header"
    "subtitle"
    "quote1"
    "img1"
    "quote2"
    "img2"
    "quote3"
    "img3"
    "footer";
    min-height: 100%;
}

header{
    background-color: var(--primarycolor);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title nav";
}

.title, .main-nav{
    align-self: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul a{
    text-decoration: none;
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--colorneutral);
    transition: background-color 0.3s ease;
}

nav ul a:hover{
    background-color: var(--colorhighlight);
}

.image-section img, .about .wrapper img {
    max-width: 100%;
    height: auto;
}

.contact-form{
    overflow: auto;
}

.contact-form form{
    display: grid;
    width: 100%;
    gap:var(--gap);
    overflow: auto;
}



input[type=text]{
    width: 98%;
    height: 1.5rem;
    justify-self: center;
    box-sizing: border-box;
}

input[type=submit]{
   height: 3rem;
}

.contact-form form > label, input[type=text], input[type=submit]{
    margin: 7px 0;
    box-sizing: border-box;
}
textarea{
    box-sizing: border-box;
    width: 98%;
    overflow: auto;
    height: auto;
    resize: none;
    justify-self: center;
}

footer {
    height: 50px;
    width: 100%;
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
    align-self: end;
}

#footertext {
    margin-left:20px;
}

@media only screen and (min-width: 500px) {
  .index .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "hero image"
      "footer footer";
  }
  .contact .wrapper {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header header header"
      ". contact ."
      "footer footer footer";
  }
  .about .wrapper{
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    "header header header header"
    ". subtitle img1 ."
    ". img2 quote1 ."
    ". quote2 img3 ."
    ". quote3 quote3 ."
    "footer footer footer footer";
  }
}

@media only screen and (min-width: 800px){
    .contact-form form{
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
  }
  .submitButton{
    grid-column-start: 2;
}
textarea{
    resize: vertical;
}
}

@media only screen and (max-width: 792px){



    .linebreak{
    display: block;
}
h1 {
    font-size: 3rem;
}
.header .title{
    margin-top: 0px;
    justify-self: left;
    margin-left: 1rem;
}
.header{
    grid-template-areas:
      "title ham";
}
.main-nav ul{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 100vh;
}

.main-nav ul li{
    width: 100%;
    padding-bottom: 2px;
}

.main-nav ul a{
        background-color: #B1C8F2;
        font-size: 2.5rem;
        width: 100%;
        padding: 7px 0;
        border-radius: 0;
        display: inline-block;
}

.main-nav ul a:hover{
    background-color: #457ce0;
}

/* off-screen-menu */
.main-nav {
    background-color:  var(--accentcolor);
    height: 100vh;
    width: 100%;
    max-width: 380px;
    min-width: 250px;
    position: fixed;
    top: 0;
    right: -380px;
    align-items: center;
    text-align: center;
    transition: .3s ease;
}
.main-nav.active {
    right: 0;
}

.wrapper .header .main-nav{
        margin-top: 0px;
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    position: relative;
    margin: 25px 25px 25px auto;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #457ce0;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
}