:root {
  --primarycolor: rgba(216, 100, 213, 0.5);
  --colorneutral: rgba(216, 100, 213, 0.6);
  --colorhighlight: rgba(216, 100, 213, 0.8);
  --gap: 20px;
  --font-size: 16px;
  scroll-behavior: smooth;
}


body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
}

h1{
    font-size: 4rem;
    font-weight: 600;
}

.hero h2{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: 3.5rem;
}

.header{
    grid-area: header;
}

.title {
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.linebreak{
    display: none;
}

.main-nav {
    grid-area: nav;
    align-self: center;
}

.hero {
    grid-area: hero;
    height: auto;
    max-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.footer {
    grid-area: footer;
}

.image-section{
    grid-area: image;
}

.contact-form{
    grid-area: contact;
}

.wrapper {
  display: grid;
  gap: var(--gap);
  grid-template-areas:
    "header"
    "hero"
    "image"
    "footer";
}

.contact .wrapper {
    grid-template-areas: 
    "header"
    "contact"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "hero image"
      "footer footer";
  }
  .contact .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "contact contact"
      "footer footer";
  }
}

@media (max-width: 761px){
    .linebreak{
    display: block;
}
h1 {
    font-size: 3rem;
}
}

header{
    background-color: var(--primarycolor);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title nav";
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul a{
    text-decoration: none;
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--colorneutral);
    transition: background-color 0.3s ease;
}

nav ul a:hover{
    background-color: var(--colorhighlight);
}

.image-section img {
    max-width: 100%;
    height: auto;
}

footer {
    height: 50px;
    width: 100%;
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
}

#footertext {
    margin-left:20px;
}